@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css);
@import url(https://cdn.jsdelivr.net/font-kopub/1.0/kopubdotum.css);
@import url(https://fonts.googleapis.com/earlyaccess/kopubbatang.css);

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 700;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 300;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}
.serif * {
 font-family: sans-serif;
}

.nanumbarungothic * {
 font-family: 'NanumBarunGothic', sans-serif;
}

.notosanskr * {
font-family: 'Noto Sans KR', sans-serif;
}

.spoqahansans * {
 font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
}
.nanumsquare * { 
 font-family: 'NanumSquare', sans-serif; 
}
.nanumsquareround * {
 font-family: 'NanumSquareRound',sans-serif;
}
.kopubdotum * {
 font-family: 'KoPub Dotum',sans-serif;
}
.kopubbatang * {
 font-family: 'KoPub Batang',sans-serif;
}

/* styling */
#root{height: 100%;}
.spinner{
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center; 
  background: rgba(0, 0, 0, 1);
}
.container{
  display: flex; 
  flex-wrap: wrap;
  justify-content :space-around;
}
.font-list{
  margin-bottom: 50px;
  padding: 30px 25px; 
  width: 400px; 
  min-height: 240px; 
  box-sizing: border-box;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.font-list li{line-height: 2;}
.italic{font-style: italic;}
address{margin: 10px 25px 50px 0; text-align: right;}

/* 애니메이션 */
.water-fill {
  animation: wave 0.7s infinite linear, 
             fill-up 10s infinite ease-out alternate;
}
@keyframes wave {
  0% { x: -400px; }
  100% { x: 0; }
}
@keyframes fill-up {
  0% {
    height: 0;
    y: 130px;
  }
  100% {
    height: 160px;
    y: -30px;
  }
}

/* 모바일 */
@media screen and (max-width: 420px) { 
  .loading{width: 100%;}
  .font-list {
    margin-bottom: 30px;
    padding: 15px 10px;
    width: 340px;
  }
}
