@charset "utf-8";

/* styling */
body{position: fixed;} // 처음엔 스크롤 못하게 막음
#root{height: 100%;}
header{
  .web_title{margin: 15px 30px; font-size: 20px;}
  .input_wrap{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    li{
      margin-bottom: 15px;
      &:nth-child(2){margin-left: 20px;}
      &:nth-child(3){
        width: 100%;
        input{width: calc(100% - 100px);}
      }
      &:nth-child(4){width: 100%; text-align: right;}
      label{font-size: 18px; display: inline-block; width: 100px;}
      input{
        box-sizing: border-box;
        height: 40px;
        padding: 6px 12px;
        font-size: 14px;
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        // transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      }
      .ipt_number{
        width: 60px;
      }
      .ipt_text{
        width: 100%;
      }
      .btn_reset{
        width: 120px; 
        height: 40px; 
        background-color: white;
        color: black;
        border: 2px solid #d4d4d4;
        &:hover {background-color: #e7e7e7;}
      }
    }
  }
}
.spinner{
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center; 
  background: rgba(0, 0, 0, 1);
}
.container{
  display: flex; 
  flex-wrap: wrap;
  justify-content :space-around;
}
.font-list{
  margin-right: 15px;
  margin-bottom: 50px;
  padding: 30px 25px; 
  width: 400px; 
  min-height: 240px; 
  box-sizing: border-box;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.font-list li{line-height: 2;}
.italic{font-style: italic;}
address{margin: 10px 25px 50px 0; text-align: right;}
.loading{margin-left: 10px;}
/* 애니메이션 */
.water-fill {
  animation: wave 0.7s infinite linear, 
             fill-up 6s infinite ease-out alternate;
}
@keyframes wave {
  0% { x: -400px; }
  100% { x: 0; }
}
@keyframes fill-up {
  0% {
    height: 0;
    y: 130px;
  }
  100% {
    height: 160px;
    y: -30px;
  }
}

/* 모바일 */
@media screen and (max-width: 420px) { 
  header{
    .input_wrap{
      li{
        &:nth-child(3){
          width: 100%;
          input{width: calc(100% - 10px);}
        }
      }
    }
  }
  .loading{width: 100%;}
  .font-list {
    margin-bottom: 30px;
    padding: 15px 10px;
    width: 340px;
  }
}
